/* LoadingScreen.module.css */
.loadingScreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000; /* Фон, чтобы загрузка смотрелась красивее */
}

.loadingImage {
	width: 100%;
	height: 100%;
	object-fit: cover; /* Показывать изображение на весь экран без искажений */
}
