.bonusCircle {
	position: absolute;
	top: 20%;
	right: 5%;
	width: 60px; /* Размер кружка */
	height: 60px;
	background-color: #fecf30; /* Яркий цвет кружка */
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.bonusText,
.timerText {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.bonusText {
	font-size: 18px;
}

.timerText {
	font-size: 12px;
	white-space: nowrap;
}
