.tap_zone {
	position: absolute;
	width: 250px;
	cursor: pointer;
	height: 250px;
	border: 2px solid white;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: box-shadow linear 0.01s, border-color linear 0.01s;
	background-color: transparent;
	z-index: 999;
}

.white {
	position: absolute;
	width: 130%;
	height: 130%;
	border-radius: 50%;
	filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.641);
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: transform 0.1s ease-out;
	z-index: -2;
}

.black {
	position: absolute;
	width: 110%;
	height: 110%;
	border-radius: 50%;
	filter: blur(10px);
	background-color: rgba(0, 0, 0, 0.486);
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: transform 0.1s ease-out;
	z-index: -1;
}

.tap_img:active {
	transform: scale(1.02);
}

.tap_img {
	transition: transform linear 0.01s;
	transform: scale(1);
	background-color: transparent;
	border-radius: 50%;
	width: 100%;
	height: auto;
}

.tap_number {
	position: absolute;
	transform: translate(-50%, -50%);
	color: white;
	border-radius: 50%;
	width: fit-content;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10vw;
	font-weight: 700;
	pointer-events: none;
	animation: flyUp 1s ease-out forwards;
	opacity: 1;
	background-color: transparent;
	z-index: 999;
	overflow: hidden;
}

@keyframes flyUp {
	0% {
		transform: translate(-50%, -50%) translateY(0);
		opacity: 1;
	}
	100% {
		transform: translate(-50%, -50%) translateY(-100px);
		opacity: 0;
	}
}

.tap_zone:active .black {
	width: 120%;
	height: 120%;
}

.tap_zone:active .white {
	width: 135%;
	height: 135%;
}
