.title {
	text-align: center;
	text-wrap: nowrap;
	width: 100%;
	font-size: 7vw;
	color: white;
}
.tasksList {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	max-height: 80%;
	margin-top: 5%;
	gap: 20px;
}

.task {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	border-radius: 8px;
	background-color: #343434;
	text-decoration: none;
}
.task img {
	width: 40px;
}
.task:link,
.task:visited,
.task:hover,
.task:active {
	text-decoration: none;
	color: inherit;
}
.taskTitle {
	font-size: 18px;
	color: white;
	font-weight: 400;
	margin-bottom: 10px;
}

.taskReward {
	font-size: 1.5em;
	color: white;
	width: 20%;
}
.taskReward span {
	display: flex;
	align-items: center;
}
