.counter {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%) translateY(-20%);
	width: 100%;
	text-align: center;
	color: white;
}
.count {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--gap);
	font-weight: 700;
	font-size: 10vw;
}
.count img {
	width: 10%;
}
